.spinner_wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8rem 0;
}

.spinner {
  width: 4rem;
}

.button {
  margin-top: 0.5rem;
  width: fit-content;
  justify-self: center;
}