.group {
  position: relative;
}

.label {
  display: flex;
  font-size: 0.75rem;
  margin: 0 0 0.25rem;
  font-weight: 600;
  align-items: center;
  justify-content: flex-start;
}

.label.error {
  color: var(--color-error);
}

.error_display {
  color: var(--color-error);
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  margin: 0;
  margin-left: auto;
  font-weight: var(--font-weight-med);
  font-variant-caps: all-small-caps;
  font-size: 0.5rem;
}

.input {
  font-size: 1rem;
  padding: 0.25rem;
  line-height: 1;
  width: 100%;
  border: none;
  box-shadow: 0 0 0 1px var(--color-border);
}

.input.error {
  box-shadow: 0 0 0 1px var(--color-error);
}

.input:focus {
  outline: 0;
  border: 0;
  box-shadow: 0 0 0 1px var(--color-text);
}