:root {
  --container-lrg: 48rem;
  --container-sml: 36rem;

  --color-text: #353535;
  --color-border: #808080;
  --color-extra-light: #eef2f5;
  --color-light: #c8d3db;
  --color-light-focus: #bcc8d1;
  --color-primary: #0a3d62;
  --color-primary-focus: #09385a;
  --color-primary-alt: #1b557f;

  --font-size-reg: 1rem;
  --font-size-sml: 0.875rem;
  --font-size-xsml: 0.75rem;
  --font-weight-med: 600;

  --grid-gap: 2rem;
}

body {
  background: var(--color-extra-light);
}

.App {
  text-align: center;
}

.center {
  text-align: center;
}


.title {
  margin: 1rem auto;
  text-align: center;
  max-width: var(--container-sml);
}

.subtitle {
  font-weight: 500;
  margin: 0.5rem auto;
  max-width: 32rem;
}

.center {
  text-align: center;
}

.container {
  max-width: var(--container-lrg);
  margin: 0 auto;
  padding: 0 1rem;
}

.quote-container {
  margin: 2rem auto;
}

.form {
  max-width: var(--container-sml);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  background: white;
  grid-gap: 1rem;
  box-shadow: 0 6px 2px -4px rgba(0, 0, 0, 0.12), 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 2rem;
  z-index: 5;
  position: relative;
}

.form::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  width: 100%;
  background: linear-gradient(90deg, #eb2f06, #fa983a);
  z-index: 10;
}

.form h2 {
  margin: 0 0 1rem;
}

.full {
  grid-column: 1 / 2;
}

.select {
  display: block;
  width: 100%;
  height: 1.75rem;
}


.ui.input  {
  width: 100%;
}

.two {
  display: grid;
  grid-gap: var(--grid-gap);
}

.page-content {
  padding: 1rem;
}

@media screen and (min-width: 560px) {
  .form {
    grid-template-columns: 1fr 1fr;
  }

  .full {
    grid-column: 1 /3;
  }

  .two {
    grid-template-columns: 1fr 1fr;
  }
}

.ui.input input {
  font-size: 1rem;
  padding: 0.25rem;
  line-height: 1;
  width: 100%;
  border: none;
  box-shadow: 0 0 0 1px var(--color-border);
}

.ui.input input:focus {
  outline: 0;
  border: 0;
  box-shadow: 0 0 0 1px var(--color-text);
}


.field label {
  display: inline-block;
  font-size: 0.75rem;
  margin: 0 0 0.25rem;
  font-weight: 600;
}

.button {
  border: none;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 500;
  background: var(--color-light);
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

a.button {
  text-decoration: none;
  color: var(--color-text);
}

.button.block {
  display: block;
  width: fit-content;
}

.button.center {
  margin: 0 auto;
}

.button:hover,
.button:focus {
  background: var(--color-light-focus);
  outline: 0;
}

.button.primary {
  color: white;
  background: var(--color-primary);
}

.button.primary:hover,
.button.primary:focus{
  background: var(--color-primary-focus);
}

.card {
  text-align: center;
  max-width: var(--container-sml);
  padding: 1rem;
  background: white;
  margin: 1rem auto;
}

.card .button {
  margin: 1rem auto;
}